.post-editor {
  margin: 10px;

  textarea{
    margin-bottom: 10px;
  }

  button {
    min-width: 100px;
    float: right;
  }
}

.list {
  line-height: 24px;
  max-width: 640px;
  margin: 0 auto;
}

.list-item {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  margin: 0 10px;
}
